{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Connexion{% endtrans %}
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger text-center fs-1 rounded-pill container">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="bg-success bg-opacity-25 rounded-pill p-5 row my-5 mx-1" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <form method="post" class="col-lg-8 mx-auto ">

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as
                    {{ app.user.username }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="text-center my-2">
                <span class="presentation d-block text-success">{% trans %}Connexion{% endtrans %}</span>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-pill mb-3" id="floatingInput" placeholder="name@example.com" value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control rounded-pill mb-3" id="floatingPassword" placeholder="Password" name="password" autocomplete="current-password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <input
            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {# https://symfony.com/doc/current/security/remember_me.html #}

            <div class="checkbox mb-3 fs-6">
                <label>
                    <input type="checkbox" name="_remember_me">
                    Se souvenir de moi
                </label>
            </div>
            <div class="text-center">
                <button class="btn btn-lg btn-success mb-5" type="submit">
                    {% trans %}Se connecter{% endtrans %}
                    <i class="fas fa-check-circle"></i>
                </button>
            </div>
            <a href="#" class="link-success d-block fw-bold text-center">{% trans %}Vous n'avez pas de compte? cliquez ici!{% endtrans %}</a>
        </form>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
