{% extends 'home/layout.html.twig' %}

{% block title %}
    {% trans %}Page d'accueil{% endtrans %}
{% endblock %}
{% block body %}
    {# presentation #}
    <section class="home d-flex justify-content-center align-items-center" {% include "components/atoms/_aosUp.html.twig" %}>
        <div class="text-center text-light fw-bold container">
            <span class="d-block title">{{user.nom}}
                {{user.prenom}}</span>
            <span class="d-block subtitle">
                Artiste peintre le temps du parcours de ce site
            </span>
            <a href={{path("app_portfolio_index")}} class="btn btn-success m-3">
                Découvrir mon portfolio
            </a>
        </div>
    </section>
    {# mes realisations #}
    <section class="row gx-0 justify-content-center mx-auto bg-light">
        <span class="presentation text-center mt-3 mb-3 text-success d-block">
            Voir mes dernieres réalisations
        </span>
        {% for peinture in peintures %}
            {% include "components/molecules/_boxImageHover.html.twig"  with {
            peintures: peintures
        } %}
        {% endfor %}
    </section>
    {# Mon actualité #}
    <section class="row gx-0 justify-content-evenly mx-auto bg-light actualite">
        <span class="presentation text-center mt-3 mb-3 text-success d-block">
            Voir mes dernieres actualités
        </span>
        {% for blogpost in blogposts %}
            {% include "components/atoms/_article.html.twig" with {
              blogposts: blogposts
            } %}
        {% endfor %}
    </section>
{% endblock %}
