{% extends 'portfolio/layout.html.twig' %}

{% block title %}Catégorie
{% endblock %}

{% block body %}
    {% set img = categorie.peintures|last %}
    <section class="categorie">
        <div class="text-center">
            {% include "components/atoms/title.html.twig" with {
                content : categorie.nom
            } %}
            <p class="fs-5 text secondary w-50 mx-auto">{{categorie.description}}</p>
        </div>
        {% if peintures|length > 0 %}
            {% for peinture in peintures %}
                <div class="row justify-content-evenly">
                    <div class="col-md-6">
                        <a href={{path("app_peinture_details", {"slug": peinture.slug} )}}>
                            <figure>
                                <img src={{asset('uploads/images/' ~ peinture.file)}} alt={{peinture.nom}} class="img-fluid rounded">
                            </figure>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">
                <span class="bg-dark text-light fs-1 top-0">
                    Il n'y a aunce peinture dans cette catégorie pour le moment</span>
            </div>
        {% endif %}
    </section>
{% endblock %}
