{% extends 'portfolio/layout.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}

    <section class="realisations row text-secondary justify-content-center">
        {% include "components/atoms/title.html.twig" with {
            content: "Je vous présente les catégories de mes réalisations"
        } %}
        {% for categorie in categories %}
            {% set img = categorie.peintures|last %}
            {# Pour récupérer la dernière image de peinture, de la catégorie #}
            <div class="col-md-6 row justify-content-center mb-3">
                <div class="col-md-10 col-lg-8 border box-shadow p-3 position-relative mx-auto bg-light">
                    <figure class="c4-izmir c4-border-center c4-gradient-top-left c4-image-rotate-left col d-flex" style="--primary-color: #000046; --secondary-color: #1CB5E0; --border-width: 5px;height:15em">
                        <img src={{asset('uploads/images/' ~ img.file)}} alt={{categorie.nom}} class="img-responsive">
                        <figcaption class="c4-layout-center">
                            <a href={{path('app_portfolio_categorie', {'slug': categorie.slug} )}} } )}} class="p-5 c4-rotate-up-right">
                                <h3 class="d-block">
                                    {{categorie.nom}}
                                </h3>
                            </a>
                        </figcaption>

                    </figure>
                    <div>
                        <span class="mb-5 text-dark">{{categorie.description}}</span>
                    </div>

                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
