<!-- Button trigger modal -->
<button type="button" class="btn btn-success mt-3 ms-auto d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Commenter
</button>
{% include "components/atoms/_formCommentaire.html.twig" %}
