{% extends 'apropos/layout.html.twig' %}

{% block title %}
    {% trans %}A propos{% endtrans %}
{% endblock %}

{% block body %}
    <section class="apropos">
        <div class="position-relative">
            <picture><img class="w-100" src={{asset("images/apropos.jpg")}} alt="peintre"></picture>
            <div class="position-absolute top-0 bg-dark text-light fs-1 w-75 mt-5 ms-5 opacity-75 rounded p-2" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="50">{{peintre.apropos}}
                <hr class="w-50 p-2"><span class="fs-3">{{peintre.prenom}}
                    {{peintre.nom}}</span>
            </div>
        </div>
    </section>
{% endblock %}
