{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}The Title of the Page
{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href={{path("app_home_index")}}>Retour sur la page d'accueil</a>
{% endblock %}

{% block main %}
    Bienvenue sur votre page d'administration
{% endblock %}
