{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Actualités{% endtrans %}
{% endblock %}

{% block body %}

    <section class="blogpost row">
        <div class="mt-3 d-flex justify-content-center">
            {{ knp_pagination_render(blogposts, 'components/atoms/pagination.html.twig') }}
        </div>
        {% for blogpost in blogposts %}
            <div class="col-md-6 col-lg-4 row justify-content-center mt-3 mx-auto">
                <div class="col-11 col-md-10 col-lg-8 box-shadow rounded bg-light position-relative p-4 ">
                    <a href={{path("app_blogpost_details", {"slug": blogpost.slug} )}}>
                        <div class="fs-3 text-center text-success lh-1">{{blogpost.titre}}</div>
                        <div class="fs-5 mt-2 mb-4 text-dark text-auto">{{blogpost.contenu|u.truncate(300,'...',false)}}</div>
                        <div class="position-absolute bottom-0 end-0 text-secondary">
                            {{blogpost.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}}
                        </div>
                    </a>

                </div>
            </div>
        {% endfor %}
        <div class="mt-3 d-flex justify-content-center">
            {{ knp_pagination_render(blogposts, 'components/atoms/pagination.html.twig') }}
        </div>
    </section>

{% endblock %}
