{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Actualité{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container rounded box-shadow my-4 w-50 bg-light p-5 text-auto">
        {% if errors is defined %}
            {% for error in errors %}
                {% include "components/atoms/_flashError.html.twig" with {
                   content: "Veuillez renouveller votre saisie!"
               } %}
            {% endfor %}
        {% endif %}
        {% include "components/atoms/_flashSuccess.html.twig" %}
        <h1 class="text-center text-success display-2">{{blogpost.titre}}</h1>
        <hr>
        <span class="text-secondary d-block text-center">{{blogpost.createdAt|format_date("long")}}</span>
        <hr>
        <span class="d-block text-dark fs-4">{{blogpost.contenu|trans}}</span>
        {% include "components/molecules/_modalButton.html.twig" %}
        <div class="text-center">
            {% if commentaireBlogposts %}
                {% include "components/atoms/_buttonVoirCommentaire.html.twig" with {
            content: "Voir les commentaires",
            commentaires: commentaireBlogposts
        } %}
            {% else %}
                Il n'y a aucun commentaire
            {% endif %}
        </div>

    </div>
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close ms-auto bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                {% for com in commentaireBlogposts %}
                    <!-- Modal -->
                    <div>
                        <h5 class="modal-title text-success ps-1" id="commentModal">{{com.auteur}}</h5>
                        <span class="text-secondary d-block text-end">Déposé le
                            {{com.createdAt|format_date()}}</span>
                    </div>
                    <div class="modal-body">
                        {{com.contenu}}
                    </div>
                    <hr class="p-2 w-75 mx-auto">
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
