.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0cc906!important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(2, 110, 16, 0.25)!important;
  }
/*   .contact{
    background: url(../../public/images/peintures/cezanne.jpg) no-repeat;
    background-size: 100%;
    //height: 20rem;
  } */
