.body {
  .home {
    background: url(../../public/images/home.jpg) no-repeat;
    background-size: 100%;
    //height: 20rem;
    min-height: 50rem;
    .title {
      font-size: 4em;
    }
    .subtitle {
      font-size: 2em;
    }
  }
  @media (max-width: 1200px) {
    .home {
      min-height: 30rem;
    }
  }
  @media (max-width: 576px) {
    .home {
      min-height: 15rem; /*  */
    }
  }
  .card {
    min-height: 30rem;
    opacity: 0.8;
  }
  .presentation {
    font-family: "Bebas Neue", cursive;
    font-size: 3em;
    letter-spacing: 0.2em;
  }
  figure {
    h3 {
      font-size: 1.5rem;
    }
  }
  section.actualite {
    span.publication {
      position: relative;

    }
  }
}
