nav {
  .nav-link {
    transition: all 0.3s;
  }
  .nav-link:hover {
    padding-top: 2px;
  }
}

a.dropdown-item:focus,
a.dropdown-item:hover {
  color: #fff;
  background-color: #5fad73!important;
}
