.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5fad73;
    border-color: #5da870;
}
.page-link:hover {
    color: #5fad73;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link{
    color: #5da870;
}
.page-link:focus {
    z-index: 3;
    color: #5da870;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(14, 110, 38, 0.25);
}