@media screen and (max-width: 900px) {
  div.body {
    min-height: 80em!important;
   
  }
}
.mouse-pointer{
  cursor: pointer;
}
.cursor-zoom-in{
  cursor: zoom-in
}
.text-auto {
  text-align: justify;
}
.box-shadow {
  transition: box-shadow 0.3s;
}
.box-shadow:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}
a {
  text-decoration: none;
}
a:focus{
  color:transparent;
}
.box {
  background-color: blue;
  border-color: transparent transparent #000 transparent;
  border-radius: 0 90% 0 0;
}
.presentation {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  letter-spacing: 0.2em;
}
footer{
  height: 100em
}
i.fas.fa-arrow-circle-left{
  z-index: 999!important;
}

