{% extends 'contact/layout.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="row justify-content-center">

        <div class="row col-lg-10 bg-light rounded my-5 p-3 contact align-items-center rounded">
            <div class="col-md-6 d-none d-md-block">
                <img src={{asset('images/contact.jpg')}} alt="venise" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="display-4 text-success text-center">Me contacter</div>
                    <span class="fs-5 text-center">Une question? envie d'acheter une toile? N'hésitez pas à me contacter.</span>
                    <hr class="mx-auto p-1 w-50">
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{message}}
                    </div>
                {% endfor %}
                {{ form_start(form, {'attr': {'class': 'form-group' }}) }}
                {{ form_row(form.nom,{
                    'row_attr': {
                        'class': 'form-floating'
                    },
                    'attr': {
                        'class': 'form-control mb-3',
                        'placeholder': 'Votre noms'
                    },
                    'label': 'Votre nom'
                }  ) }}

                {{ form_row(form.email,{
                    'row_attr': {
                        'class': 'form-floating'
                    },
                    'attr': {
                        'class': 'form-control mb-3',
                        'placeholder': 'Votre adresse mail'
                        },
                    'label': 'Votre adresse mail'
                }) }}

                {{ form_row(form.message,{
                    'row_attr': {
                        'class': 'form-floating'
                    },
                    'attr': {
                        'class': 'form-control mb-3',
                        'placeholder': 'Veuillez déposer votre message'
                        },
                    'label': 'Veuillez déposer votre message'
                }) }}

                {{ form_row(form.envoyer, {
                    'row_attr':{
                        'class': 'text-end'
                    },
                    'attr': {'class': 'btn btn-success'}
                }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
