<div class="col-lg-3 col-11 bg-secondary p-2 mb-5 box-shadow position-relative">
    <a href={{path('app_blogpost_details', {'slug': blogpost.slug} )}}>
        <span class="fs-3 fw-bold text-success">{{blogpost.titre}}</span>
        <p class="mb-5 fs-5 text-dark text-auto">{{blogpost.contenu|u.truncate(150,'...',false)}}</p>
        <span class="position-absolute bottom-0 end-0 mb-1 me-1 fs-5 fst-italic text-secondary">Publié le
            {{blogpost.createdAt|format_datetime('long', 'none', locale='fr')}}
        </span>
    </a>
</div>
