<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success position-relative" data-bs-toggle="modal" data-bs-target="#commentModal">
    {{content}}
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{commentaires|length}}
        <span class="visually-hidden">unread messages</span>
    </span>
</button>
