<div class="alert alert-danger text-center" role="alert">
    <button type="button" class="btn btn-transparent mx-auto d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ error.message }}
        <span class="d-block fst-underline">
            <u>{{content}}</u>
        </span>
    </button>
</div>
