<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class=" justify-content-center">
                <div class=" bg-light rounded my-5 p-3 contact align-items-center rounded">

                    <div>
                        <div class="text-center">
                            <button type="button" class="btn-close ms-auto text-end d-block bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="display-4 text-success text-center">Laisser un commentaire</div>
                            <hr class="mx-auto p-1 w-50">
                        </div>
                        <div>
                            {{ form_start(form, {'attr': {'class': 'form-group' }}) }}
                            {{ form_row(form.auteur,{
                                'row_attr': {
                                    'class': 'form-floating'
                                },
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'placeholder': 'Votre noms'
                                },
                                'label': 'Votre nom'
                            }  ) }}
                            {{ form_row(form.email,{
                                'row_attr': {
                                    'class': 'form-floating'
                                },
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'placeholder': 'Votre adresse mail'
                                    },
                                'label': 'Votre adresse mail'
                            }) }}
                            {{ form_row(form.contenu,{
                                'row_attr': {
                                    'class': 'form-floating'
                                },
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'placeholder': 'Veuillez déposer votre message'
                                    },
                                'label': 'Veuillez déposer votre message'
                            }) }}
                            {{form_row(form.Soumettre, {
                                'attr': {
                                    'class': 'btn btn-success ms-auto d-block'
                                },
                                'row_attr': {
                                    'class': 'mt-3'
                                }
                            })}}
                            {{ form_end(form) }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
