<div class="d-flex justify-content-around box-shadow bg-secondary row" data-aos="fade-right" data-aos-duration="500" data-aos-delay="50">
    <figure class="c4-izmir c4-border-center c4-gradient-top-left c4-image-rotate-left col" style="--primary-color: #000046; --secondary-color: #1CB5E0; --border-width: 5px;max-height:20em">
        <img src={{vich_uploader_asset(peinture, 'imageFile')}} alt={{peinture.nom}} class="img-fluid">
        <figcaption class="c4-layout-center">
            <a href={{path('app_home_index')}} class="p-5 c4-rotate-up-right">
                <h3 class="d-block">
                    {{peinture.nom}}
                </h3>
            </a>
        </figcaption>
        <figcaption class="c4-layout-bottom-right">
            <span>Date de réalisation</span>
            <span>{{peinture.dateRealisation|format_datetime('long', 'none', locale='fr')}}</span>
        </figcaption>
    </figure>
    <aside class="fw-bold bg-secondary description text-dark d-flex align-items-center ms-1 mb-5 col text-auto">
        {{peinture.description}}
        <a href={{path("app_peinture_details", {"slug": peinture.slug} )}} class="btn btn-success position-absolute bottom-0 end-0 p-2">Voir</a>
    </aside>
</div>
