<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link
        rel="icon" href={{asset('images/favicon-32x32.png')}}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-secondary">
        {% block header %}
            {% include "components/organisms/_navbar.html.twig" %}
        {% endblock %}
        <div class="body"> {% block body %}{% endblock %}
            </div>
            {% block footer %}
                {% include "components/organisms/_footer.html.twig" %}
            {% endblock %}
            {# Jquery #}
        </body>
    </html>
