<footer class="footer-section bg-dark bg-opacity-50 text-light p-2" {% include "components/atoms/_aosUp.html.twig" %}>
    <div class="container row mx-auto">
        <div class="col-md-6 fs-5 text-center">
            <h2 class="fs-1">
                <i class="fas fa-map-signs"></i>
                Plan du site</h2>
            <a class="text-light d-block" href={{path('app_home_index')}}>Page d'accueil</a>
            <a class="text-light d-block" href={{path('app_peinture_realisations')}}>Mes réalisations</a>
            <a class="text-light d-block" href={{path('app_blogpost_actualites')}}>Mes actualités</a>
            <a class="text-light d-block" href={{path('app_apropos_index')}}>A propos de moi</a>
            <a class="text-light d-block" href={{path('app_portfolio_index')}}>Mon portfolio</a>
        </div>
        {% for user in user() %}
            <div class="col-md-6 fs-5">
                <div class="row">
                    <h2 class="display-6">Mes coordonnées</h2>

                    <div class="col-1">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col-11">{{user.telephone}}</div>

                    <div class="col-1">
                        <i class="fas fa-at"></i>
                    </div>
                    <div class="col-11">{{user.email}}</div>

                    <div class="col-1">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col-11">
                        {{user.prenom}}
                        {{user.nom}}
                    </div>
                    <div class="col-1">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="col-11">
                        {{user.instagram}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</footer>
