<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-opacity-25 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href={{path('app_home_index')}}>
            <figure class="c4-izmir c4-image-rotate-left bg-transparent c4-image-zoom-in" {% include "components/atoms/_aosUp.html.twig" %}>
                <img src="{{ asset('images/logo_maison_philo1.png') }}" alt="logo su site" class="img-fluid" style="width:3em">
            </figure>
        </a>
        <i class="fas fa-arrow-circle-left fs-1 mt-2 ms-2 mouse-pointer" onclick="history.back()"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mx-auto fs-5">
            <li class="nav-item">
                <a class="nav-link fw-bold" href={{path('app_peinture_realisations')}} role="button" aria-haspopup="true" aria-expanded="false">
                    Réalisations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  fw-bold" href={{path('app_blogpost_actualites')}} role="button" aria-haspopup="true" aria-expanded="false">
                    Actualités
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  fw-bold" href={{path('app_apropos_index')}} role="button" aria-haspopup="true" aria-expanded="false">
                    A propos
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href={{path('app_portfolio_index')}}>
                        {% trans %}Voir toutes les catéories{% endtrans %}
                    </a>
                    {% for categorie in categorieNavbar() %}
                        <a class="dropdown-item" href={{path('app_portfolio_categorie', {'slug': categorie.slug} )}}>
                            {{categorie.nom|trans()}}
                        </a>
                    {% endfor %}

                </div>
            </li>
        </ul>
        <ul class="navbar-nav fs-5 me-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle display-6"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item d-none" href="#">
                        {% trans %}Inscription{% endtrans %}
                    </a>
                    <a class="dropdown-item" href={{path('app_login')}}>
                        {% trans %}Connnexion{% endtrans %}
                    </a>

                </div>
            </li>
        </ul>
        <a type="button" class="btn btn-success my-2 my-sm-0 shadow p-2 fw-bold" type="submit" href={{path('app_contact_index')}}>
            Me contacter
        </a>
    </li>
</div></li></div></nav>
