{% extends 'peinture/layout.html.twig' %}

{% block title %}
    {% trans %}Peinture{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger text-center" role="alert">
                    <button type="button" class="btn btn-transparent mx-auto d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ error.message }}
                        <span class="d-block fst-underline">
                            <u>Veuillez renouveller votre saisie</u>
                        </span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% include "components/atoms/_flashSuccess.html.twig" %}
        <div class="row mx-auto fs-5 text-dark box-shadow rounded my-4 bg-light">
            <div class="col-lg-5 align-items-center d-flex mx-auto row bg-secondary text-center">
                <a href={{asset('uploads/images/' ~ peinture.file)}} class="col-12 cursor-zoom-in" target="_blank">
                    <img src={{asset('uploads/images/' ~ peinture.file)}} alt={{peinture.nom}} class="img-fluid">
                </a>
                {% if commentairePeintures %}
                    {% include "components/atoms/_buttonVoirCommentaire.html.twig" with {
                    content: "Voir les comentaires",
                    commentaires: commentairePeintures
                } %}
                {% else %}
                    Il n'y a aucun commentaire
                {% endif %}
            </div>
            <div class="col-lg-7">
                <h1 class="text-center text-success display-2">{{peinture.nom}}</h1>
                {% include "components/atoms/_pill-badge.html.twig" with {
                    content: "Note de l'auteur"
                } %}
                <article class="text-dark text-auto">{{peinture.description|trans}}</article>
                {% include "components/atoms/_pill-badge.html.twig" with {
                    content: "Caractéristiques"
                } %}
                <aside class="row jusify-content-between fs-4">
                    {% include "components/atoms/_caracteristiques.html.twig" with {
                      titre: "hauteur",
                      contenu: peinture.hauteur
                  } %}
                    {% include "components/atoms/_caracteristiques.html.twig" with {
                        titre: "Largeur",
                        contenu: peinture.largeur
                    } %}
                    {% if peinture.enVente %}
                        <div class="col">
                            <span>{% trans %}Prix{% endtrans %}</span>
                        </div>
                        <div class="col text-end text-success">
                            <span>
                                {{peinture.prix|format_currency('EUR')}}
                            </span>
                        </div>
                        <hr>
                    {% else %}
                        <div class="fs-3 d-block text-center text-warning">{% trans %}Cette peinture n'est pas à vendre{% endtrans %}</div>
                    {% endif %}
                </aside>
                <div class="text-secondary text-end"></div>
                {% include "components/molecules/_modalButton.html.twig" %}
            </div>
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="btn-close ms-auto bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                        {% for com in commentairePeintures %}
                            <!-- Modal -->
                            <div>
                                <h5 class="modal-title text-success ps-1" id="commentModal">{{com.auteur}}</h5>
                                <span class="text-secondary d-block text-end">Déposé le
                                    {{com.createdAt|format_date()}}</span>
                            </div>
                            <div class="modal-body">
                                {{com.contenu}}
                            </div>
                            <hr class="p-2">
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
