{% extends 'peinture/layout.html.twig' %}

{% block title %}
    {% trans %}Mes réalisations{% endtrans %}
{% endblock %}

{% block body %}
    <section class="realisations row text-secondary justify-content-center">
        <div class="mt-2 d-flex justify-content-center rounded">
            {{ knp_pagination_render(peintures, 'components/atoms/pagination.html.twig') }}
        </div>
        {% for peinture in peintures %}
            <div class="col-md-6 row justify-content-center mb-3">
                <a href={{path('app_peinture_details', {'slug':peinture.slug} )}}>
                    <div class="col-md-10 col-lg-8 rounded box-shadow p-3 pb-5 position-relative mx-auto bg-light">
                        <figure class="c4-izmir c4-border-center c4-gradient-top-left c4-image-rotate-left col d-flex" style="--primary-color: #000046; --secondary-color: #1CB5E0; --border-width: 5px;height:15em">
                            <img src={{asset('uploads/images/' ~ peinture.file)}} alt={{peinture.nom}} class="img-responsive">
                            <figcaption class="c4-layout-center">
                                <div class="p-5 c4-rotate-up-right">
                                    <h3 class="d-block">
                                        {{peinture.nom}}
                                    </h3>
                                </div>
                            </figcaption>
                        </figure>
                        <div>
                            <span class="mb-5 text-dark text-auto">
                                {{peinture.description}}
                            </span>
                        </div>
                        <span class="bottom-0 end-0 d-block position-absolute text-secondary me-1">
                            {% trans %}Ajoutée le{% endtrans %}
                            {{peinture.dateRealisation|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}}
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="mt-2 d-flex justify-content-center rounded">
            {{ knp_pagination_render(peintures, 'components/atoms/pagination.html.twig') }}
        </div>
    </section>
{% endblock %}
